.App {
  text-align: center;
  justify-content: center;
}

@media (max-width: 576px) {
  .card {
    width: 100% !important;
  }
  .navbar-expand {
    flex-flow: column wrap !important;
  }
}

.nav {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  margin-top: 0.5rem !important;
}

.nav-tabs .nav-link {
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
}

.jumbotron {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
  margin-top: 2rem !important;
  margin-bottom: 0 !important;
  border-radius: 1.3rem !important;
}

.card {
  border-radius: 2.25rem !important;
}

.card-header {
  background-color: transparent !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #3776f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
